body{
    margin: 0;
}
.category{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;   
    text-align: center; 

    gap: 2.5rem;
}

#banner{
    display: flex;
    justify-content: center;
    
    color: white;
    height: 15rem;
    align-items: center;
    
}

.background-image {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Cover the entire container */
    filter: brightness(80%); /* Apply blur effect to the image */
    border-radius: 15px;
}



#bannerHead{
    position: absolute;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.7);
}






#items{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
/*     gap: 10px; */ /* Space between grid items */
/*     padding: 20px; */ /* Padding around the grid */
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    gap: 2rem;
}
.item{
    display: flex;
    flex-direction: column;
    gap:  0.5rem;
}
.item > * {
    display: block;
}
.soloPage{
    text-decoration: none; /* Remove underline */
    color: black; /* Set text color to black */
}
.soloPage h2{
    margin: 0;
}
.itemImg{
    height: 8rem;
    border-radius: 15px;
}
.price{
    text-decoration: underline;
    margin: 0;
}
.cart{
    display: block;
    text-decoration: none; /* Remove underline */

    /* color: black; */ /* Set text color to black */
    /* background-color: lightpink; */ /* Set background color to light pink */

    color: rgb(83 48 54 / 79%); 
    background-color: #E0BBB9; /* Set background color to light pink */


    padding: 10px; /* Add some padding for better appearance */
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10px; /* Optional: round the corners */

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: .9rem;
    
}
.cart:hover{
    background-color: #9c706e;
    color: white; /* Optional: change background on hover */
}